useDynLib(textTinyR, .registration = TRUE)
importFrom(Rcpp, evalCpp)

export(big_tokenize_transform)
export(bytes_converter)
export(cosine_distance)
export(dense_2sparse)
export(dice_distance)
export(levenshtein_distance)
export(load_sparse_binary)
export(matrix_sparsity)
export(read_characters)
export(read_rows)
export(save_sparse_binary)
export(sparse_Means)
export(sparse_Sums)
export(sparse_term_matrix)
export(text_file_parser)
export(token_stats)
export(tokenize_transform_text)
export(tokenize_transform_vec_docs)
export(utf_locale)
export(vocabulary_parser)
import(Matrix)
importFrom(R6,R6Class)
importFrom(data.table,data.table)
importFrom(utils,read.csv)
importFrom(utils,read.table)
